@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #272829;
}

/* .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 150px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, #2B2730 79%, transparent 80% 100%),
    conic-gradient(#040D12 75%, grey 0);
} */